.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ccc;

  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 1px 1px 8px red;
  transition: transform 0.2s;
}
.weather-card:hover {
  transform: scale(1.05);
}

.weather-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.weather-card p {
  margin: 5px 0;
}

form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 300px;
}

input, button {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box; /* Sicherstellen, dass die Box-Größe korrekt berechnet wird */
}

button {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none;
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .weather-card {
    width: 80%;
  }

  form {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .weather-card {
    width: 100%;
  }

  form {
    width: 90%;
  }
}
