.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.weather-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.weather-card:hover {
  transform: scale(1.05);
}

.weather-card h3 {
  margin: 0;
  font-size: 1.2em;
}

.weather-card p {
  margin: 5px 0;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: 10px;
  width: 150px; /* Gleiche Breite für beide Buttons */
}

button:hover {
  background-color: #0056b3;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .weather-card {
    width: 80%;
  }

  input {
    width: calc(100% - 170px); /* Anpassung für gleiche Breite der Buttons */
  }

  button {
    width: 150px; /* Gleiche Breite für beide Buttons */
  }
}

@media (max-width: 480px) {
  .weather-card {
    width: 100%;
  }

  input {
    width: calc(100% - 150px); /* Anpassung für gleiche Breite der Buttons */
  }

  button {
    width: 150px; /* Gleiche Breite für beide Buttons */
  }
}
